<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Admin - DNBS</title>
  <!-- Custom styles for this template-->
  <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css'>
  <link href="../../new/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../../new/admin/css/sb-admin-2.min.css">
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../newstyle.css">
  <link rel="stylesheet" href="../../new/css/custom2.css">
  <link rel="stylesheet" href="../../new/css/styleBtn.css">
  <link rel="stylesheet" href="../../new/css/inputStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="../../socket.io/socket.io.js"></script>
  <script>
    var socket = io("http://103.81.86.79:8080");

    //HANDEL BAC SI
    function modelhinhbs() {
      var selector = document.getElementById("themhinhbs");
      var img = document.getElementById("showhinhbs");
      var reader = new FileReader();
      reader.onload = function (e) {
        var loai = selector.files[0].type;
        if (loai == "image/jpeg" || loai == "image/png") {
          img.src = e.target.result;
          $("#chenhinhbs").click(function () {
            var tenhinh = selector.files[0].name;
            var tenluu = Date.now() + '-' + tenhinh;
            socket.emit("themhinhtt", { base64: e.target.result }, tenluu);
            // var fil = document.getElementById("themhinh").value;
            //  var filename = fil.replace(/^.*?([^\\\/]*)$/, '$1')
            setTimeout(function () {
              var editor = CKEDITOR.instances.content4;
              var link = '../../hinhanh/baiviet/';
              var value = '<p><img width="70%" height="70%"  class="img-fluid" src="' + link + tenluu + '"/></p>'
              if (editor.mode == 'wysiwyg') {
                var imgHtml = CKEDITOR.dom.element.createFromHtml(value);
                editor.insertElement(imgHtml);
                //Event for load image in edit text
                $('#myModal4').modal('hide');
                $('#themhinhbs').val('');
                $("#showhinhbs").attr("src","");
                $('.modal-backdrop').remove();
              } else {
                alert('You must be in WYSIWYG mode!');
              }
            }, 400);
          })
        }
        else {
          document.getElementById("loibs").innerHTML = "Bạn vui lòng chọn file ảnh"
        }
      }
      reader.readAsDataURL(selector.files[0]);
    }
    //model - anh null
    $(document).ready(function () {
      $("#menuBS").addClass("active");
      $("#chenhinhbs").click(function () {
        var tenhinh = $("#themhinhbs").val();
        if (tenhinh == "") {
          document.getElementById("loibs").innerHTML = "Mời bạn chọn ảnh"
        }
      })
    })
    // show anh avt bac si
    function anhbs() {
      var avt = document.getElementById("anhdaidienbs");
      var showavt = document.getElementById("showavtbs");
      var loai = avt.files[0].type;

      var reader = new FileReader();
      reader.onload = function (e) {
        if (loai == "image/jpeg" || loai == "image/png") {
          showavt.src = e.target.result;
        }
        else {
          document.getElementById("thongbao").innerHTML = "Bạn vui lòng chọn file ảnh";
          $('.cd-popup').addClass('is-visible');
        }
      }
      reader.readAsDataURL(avt.files[0]);
    }
  </script>
  <script>
    //THONG BAO
    jQuery(document).ready(function ($) {
      //open popup

      //close popup
      $('.cd-popup').on('click', function (event) {
        if ($(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup')) {
          event.preventDefault();
          $(this).removeClass('is-visible');
        }
      });
      //close popup when clicking the esc keyboard button
      $(document).keyup(function (event) {
        if (event.which == '27') {
          $('.cd-popup').removeClass('is-visible');
        }
      });
    });
  </script>
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper"> <% include ../element/header_admin.ejs %>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content" style="flex: 0">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <span style=" text-align: center; color:#007EA7; font-weight: bold ; font-size: 20px;">THÊM THÔNG TIN BÁC SĨ</span>
        </nav>
      </div>
      <div class="container-fluid form-style-1">
        <div ng-controller="DemoCtrl as vm" layout="column" ng-cloak="" ng-app="app">
          <md-content class="box-content">
            <!--ĐỘI NGŨ BÁC SĨ-->
            <div id="bacsi">
              <form method="post" action="/bacsi" id="formbacsi" style="padding: 5px;" enctype="multipart/form-data">
                <span id="label">Tên bác sĩ</span>
                <input type="text" name="tenbs" value="" id="tenbs" class="input-content">
                <div id="wp-content-media-buttons" class="wp-media-buttons" style="margin-top: 20px;">
                  <button type="button" class="btn btn--contained-success ripple" ripple="ripple" data-toggle="modal" data-target="#myModal4">Thêm Media</button></div>
                <!-- The Modal -->
                <div class="modal modalCustom" id="myModal4">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <button type="button" class="close buttonClose" data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                        <h4 class="titleModal">Thêm ảnh vào bài viết</h4>
                        <input type="file" id="themhinhbs" name="themhinhbs" onchange="modelhinhbs();">
                        <img id="showhinhbs" src="" width="40%" height="40%">
                      </div>
                      <!-- Modal footer -->
                      <div id="loibs" style="color: red; float: left;"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn--contained-info ripple" ripple="ripple" name="inser" id="chenhinhbs">Xác nhận<div class="ripple__ink"></div></button>
                        <button type="submit" class="btn btn--contained-default ripple" ripple="ripple" name="closemodal" id="closemodalbs" data-dismiss="modal" onclick="document.getElementById('themhinhbs').value=''; document.getElementById('showhinhbs').src='' ">Hủy<div class="ripple__ink"></div></button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <md-input-container class="md-block">
              <textarea ck-editor ng-model="vm.content4" md-select-on-focus="" id="content4" style="padding: 0; margin: 0; height: 0px; width: 0px;"></textarea>
            </md-input-container>
            <md-input-container class="md-block" style="margin: 0px;">
              <input ng-model="vm.content4" style="opacity: 0; height: 0px; width: 0px;" name="noindungbs" id="noindungbs" />
            </md-input-container>
            <div class="row" style="padding:16px; background: #c9e0ff;">
              <div class="upload-btn-wrapper col-md-4">
                <div class="row">
                  <button class="btn btn--contained-dark ripple" ripple="ripple">Ảnh đại diên<div class="ripple__ink"></div></button>
                  <input type="file" name="anhdaidienbs" id="anhdaidienbs" onchange="anhbs();">
                </div>
                <div class="row" style="margin-top: 10px;">
                  <img id="showavtbs" width="50%" height="50%" src="images/_105901296_male.jpg" style="border-radius: 4spx; border: 3px solid white;">
                </div>
              </div>
              <div class="col-md-8" style="padding-left: 0px;">
                <span id="label">Chuyên khoa</span>
                <select name="selectckbs" id="selectckbs" class="customCombobox"> <% for(var i=0; i < chuyenkhoa.length; i++)
              {%> <option value="<%=chuyenkhoa[i]['chuyenkhoa_id']%>"> <%=chuyenkhoa[i]['tenchuyenkhoa']%></option> <% } %> </select>
                <label id="label" style="margin-top: 10px;">Chức vụ</label><br>
                <input type="text " name="chucvu" id="chucvu" style="padding: 12px;border: none;border-radius: 4px;"><br>
                <input class="btn btn--contained-link ripple cd-popup-trigger" ripple="ripple" id="submitbs" name="submitbs" onclick="baivietbacsi();" type="button" value="Lưu bài viết"><div class="ripple__ink"></div>
              </div>
            </div>
            </form>
        </div>
        </md-content>
        <!-- popup alert-->
        <div class="cd-popup" role="alert">
          <div class="cd-popup-container">
            <p id="thongbao" style="color:red;"></p>
            <!--<ul class="cd-buttons">
                  <li><a href="#0">Yes</a></li>
                  <li><a href="#0">No</a></li>
                </ul> -->
            <a href="#0" class="cd-popup-close img-replace">Close</a>
          </div> <!-- cd-popup-container -->
        </div> <!-- cd-popup -->
      </div>
    </div>
  </div>
  </div>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="new/admin/vendor/jquery/jquery.min.js"></script>
  <script src="new/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="new/admin/js/sb-admin-2.min.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.6/angular-sanitize.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js'></script>
  <script src='https://cdn.ckeditor.com/4.7.0/full/ckeditor.js'></script>
  <script src="handel/check.js"></script>
  <script>
  </script>
  <script src="script.js"></script>
  <!-- Core plugin JavaScript-->
</body>

</html>