<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin 2 - Dashboard</title>
  <!-- Custom styles for this template-->
  <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css'>
  <link href="../../new/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../../new/admin/css/sb-admin-2.min.css">
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../newstyle.css">
  <link rel="stylesheet" href="../../new/css/custom2.css">
  <link rel="stylesheet" href="../../new/css/styleBtn.css">
  <link rel="stylesheet" href="../../new/css/inputStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="../../socket.io/socket.io.js"></script>
  <script>
    var socket = io("http://103.81.86.79:8080");
    function modelhinhck() {
      var selector = document.getElementById("themhinhck");
      var img = document.getElementById("showmodelck");
      var reader = new FileReader();
      reader.onload = function (e) {
        var loai = selector.files[0].type;
        if (loai == "image/jpeg" || loai == "image/png") {
          img.src = e.target.result;
          document.getElementById("loick").innerHTML = "";
          $("#chenhinhck").click(function () {
            var tenhinh = selector.files[0].name;
            var tenluu = Date.now() + '-' + tenhinh;
            socket.emit("themhinhtt", { base64: e.target.result }, tenluu);
            // var fil = document.getElementById("themhinh").value;
            //  var filename = fil.replace(/^.*?([^\\\/]*)$/, '$1')
            // var fil = document.getElementById("themhinh").value;
            //  var filename = fil.replace(/^.*?([^\\\/]*)$/, '$1')
            setTimeout(function () {
              var editor = CKEDITOR.instances.content2;
              var link = '../../hinhanh/baiviet/';
              var value = '<p><img width="70%" height="70%"  class="img-fluid" src="' + link + tenluu + '"/></p>'
              if (editor.mode == 'wysiwyg') {
                var imgHtml = CKEDITOR.dom.element.createFromHtml(value);
                editor.insertElement(imgHtml);
                //Event for load image in edit text
                $('#myModal2').modal('hide');
                $('#themhinhck').val('');
                $("#showmodelck").attr("src", "");
                $('.modal-backdrop').remove();
              } else {
                alert('You must be in WYSIWYG mode!');
              }
            }, 400);
          })
        }
        else {
          document.getElementById("loick").innerHTML = "Bạn vui lòng chọn file ảnh"
        }
      }
      reader.readAsDataURL(selector.files[0]);
    }
    //model - anh chuyenkhoa null
    $(document).ready(function () {
      $("#menuDCT").addClass("active");
      $("#chenhinhck").click(function () {
        var tenhinh = $("#themhinhck").val();
        if (tenhinh == "") {
          document.getElementById("loick").innerHTML = "Mời bạn chọn ảnh"
        }
      })
    })
    //get noi dung dich vu
    $(document).ready(function () {
      $("#selectck").change(function () {
        var chuyenkhoaid = $("#selectck").val();
        socket.emit("getchuyenkhoa", chuyenkhoaid);
      })
    })
    socket.on("noidungck", function (kq) {
      var editor = CKEDITOR.instances.content2;
      value = kq[0]['noidung']
      editor.setData(value);
    })

  </script>
  <script>
    //THONG BAO
    jQuery(document).ready(function ($) {
      //open popup

      //close popup
      $('.cd-popup').on('click', function (event) {
        if ($(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup')) {
          event.preventDefault();
          $(this).removeClass('is-visible');
        }
      });
      //close popup when clicking the esc keyboard button
      $(document).keyup(function (event) {
        if (event.which == '27') {
          $('.cd-popup').removeClass('is-visible');
        }
      });
    });
  </script>
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper"> <% include ../element/header_admin.ejs %>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content" style="flex: 0">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <span style=" text-align: center; color:#007EA7; font-weight: bold ; font-size: 24px;">CẬP NHẬT THÔNG TIN CHUYÊN KHOA</span>
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
        </nav>
      </div>
      <div class=" container-fluid form-style-1">
        <div ng-controller="DemoCtrl as vm" layout="column" ng-cloak="" ng-app="app">
          <md-content class="box-content">
            <!--FORM CHUYENKHOA-->
            <div id="chuyenkhoa">
              <form method="post" action="/gioithieuchuyenkhoa" id="formdv" style="padding: 50px 50px 0px; ">
                <select name="selectck" id="selectck" class="customCombobox">
                  <option value="0">Chọn chuyên khoa cần cập nhật thông tin</option> <% for(var k = 0;k < chuyenkhoa.length;k++)
                    {
                    %> <option value="<%= chuyenkhoa[k]['chuyenkhoa_id'] %>" class="combox-option"> <%= chuyenkhoa[k]['tenchuyenkhoa'] %></option> <%
                    } %>
                </select>
                <div id="wp-content-media-buttons" class="wp-media-buttons">
                  <button type="button" class="btn btn--contained-success ripple" ripple="ripple" data-toggle="modal" data-target="#myModal2">Thêm Media<div class="ripple__ink"></div>
                    <div class="ripple__ink"></div>
                  </button>
                  <div style="height: 20px;"></div>
                  <label id="error_ck" style="text-transform: inherit;color: red;font-size: 13px;font-weight: 400;">
                    <!-- The Modal -->
                    <div class="modal modalCustom" id="myModal2">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <button type="button" class="close buttonClose" data-dismiss="modal">&times;</button>
                          </div>
                          <!-- Modal body -->
                          <div class="modal-body">
                            <h4 class="titleModal">Thêm ảnh vào bài viết</h4>
                            <input type="file" id="themhinhck" name="themhinhck" onchange="modelhinhck();">
                            <img id="showmodelck" src="" width="40%" height="40%">
                          </div>
                          <!-- Modal footer -->
                          <div id="loick" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn--contained-info ripple" ripple="ripple" name="chenhinhck" id="chenhinhck">Xác nhận<div class="ripple__ink"></div></button>
                            <button type="submit" class="btn btn--contained-default ripple" ripple="ripple" name="closemodal" id="closemodal" data-dismiss="modal" onclick="document.getElementById('themhinhck').value=''; document.getElementById('showmodelck').src='' ">Hủy<div class="ripple__ink"></div></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <md-input-container class="md-block" style="height: 0px; padding: 0px; margin: 0px;">
                  <textarea ck-editor ng-model="vm.content2" md-select-on-focus="" id="content2"></textarea>
                </md-input-container>
                <md-input-container class="md-block" style="height: 0px; width: 0px; margin: 0px;">
                  <input ng-model="vm.content2" type="text" name="noidungck" id="noidungck" style="opacity: 0;width: 0px; margin: 0px; height: 0px;" />
                </md-input-container>
                <button class="btn btn--contained-link ripple cd-popup-trigger" id="luuchuyenkhoa" formaction="/luuchuyenkhoa" onclick="capnhapck();" ripple="ripple">Cập nhật thông tin chyên khoa<div class="ripple__ink"></div>
                  <div class="ripple__ink"></div>
                </button>
                <div style="height: 50px;"></div>
              </form>
            </div>
          </md-content>
          <!-- popup alert-->
          <div class="cd-popup" role="alert">
            <div class="cd-popup-container">
              <p id="thongbao" style="color:red;"></p>
              <a href="#0" class="cd-popup-close img-replace">Close</a>
            </div> <!-- cd-popup-container -->
          </div> <!-- cd-popup -->
        </div>
      </div>
      <!-- Footer -->
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="new/admin/vendor/jquery/jquery.min.js"></script>
  <script src="new/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="new/admin/js/sb-admin-2.min.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.6/angular-sanitize.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js'></script>
  <script src='https://cdn.ckeditor.com/4.7.0/full/ckeditor.js'></script>
  <script src="handel/check.js"></script>
  <script>
  </script>
  <script src="script.js"></script>
  <!-- Core plugin JavaScript-->
</body>

</html>