<footer id="footer"  class="footer-area wow fadeIn " style="padding-top: 50px; margin-top:30px ;">
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="margin-top: 20px;">
        <div class="footer-info padding">
          <h3>Thông tin</h3>
          <div class="row" style="display: block;">
            <div class="logo padding" style="width: 100%; background-color: beige;">
              <div style="width: 50%; margin: 0 auto;">
                <img src="../new/images/logo.jpg" style="height:33px ; width: auto; margin: 0px;">
                <a style="color: black; font-size: 14px;">Phòng Khám Đa Khoa 105</a>
              </div>
            </div>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 105/4A Lê Văn Khương, P. Hiệp thành, Q.12</p>
            <p><i class="fa fa-paper-plane" aria-hidden="true"></i> phongkhamdakhoa105@gmail.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i> (028) 3717 7726 - 3717 7725</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-md-1" style="margin-top: 20px;">
        <div class="footer-info padding">
          <h3>Về chúng tôi</h3>
          <div class="row">
            <div class="col-md-6">
              <a href="/gioithieu">Giới thiệu</a><br>
              <a href="/trangthietbi">Trang thiết bị</a><br>
            </div>
            <div class="col-md-6">
              <a href="/bacsi">Đội ngũ bác sĩ</a><br>
              <a href="/quytrinh">Quy trình</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  window.fbAsyncInit = function() {
	FB.init({
	  xfbml            : true,
	  version          : 'v5.0'
	});
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="101450171297080"
theme_color="#0084ff"
logged_in_greeting="Chào bạn! Chúng tôi có thể giúp gì cho bạn?"
logged_out_greeting="Chào bạn! Chúng tôi có thể giúp gì cho bạn?">
</div>
<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="101450171297080"
theme_color="#0084ff"
logged_in_greeting="Chào bạn! Chúng tôi có thể giúp gì cho bạn?"
logged_out_greeting="Chào bạn! Chúng tôi có thể giúp gì cho bạn?">
</div>
	<!-- Your customer chat code -->
	<div class="fb-customerchat"
	  attribution=setup_tool
	  page_id="101450171297080">
	</div>